*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.box{
    width: 300px;
    height: 300px;
    background-color: #101e2e;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box::before{
    content: '';
    position: absolute;
    background: conic-gradient(magenta, cyan, yellow, magenta);
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 10px;
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: 1s ease-in-out;
}
.box:hover::before{
    opacity: 1;
}

